// Set font families
$font-family--primary      : 'Ubuntu', sans-serif;
$font-family--secondary    : 'Rubik', sans-serif;


// Set font weights
$font-weight--light       : 100;
$font-weight--normal      : 300;
$font-weight--medium      : 500;
$font-weight--bold        : 700;

// Set color
$black                    : #000000;
$white                    : #ffffff;
$grey					  : #7D7D80;
$blue 					  : #3C557C;
$green				      : #A3A467;
$grey-green				  : #929288;

// Brand Colors 

// Set main colors
$primary-color            : $blue;
$secondary-color          : $green;

$body-font-color          : $grey-green;

// Set font size
$base__font-size          : 100%;
$base__line-height		  : 1.5;

