header {
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 10;
	padding: 0;
	margin: 0;

	.utility {
		background: $primary-color;
		padding: 10px 0;
		@media screen and (max-width: $break-tablet) {
			display: none;
		}

		.phone {
			color: $white;
			font-weight: $font-weight--bold;
			float: right;
			line-height: 1.5;
			font-family: $font-family--secondary;

			&:before {
				content: '';
				display: inline-block;
				background: url(../images/icons/phone-white.svg) no-repeat 0 0;
				width: 40px;
				height: 20px;
				float: left;
			}
		}
	}

	.primary {
		background: rgba($white,.9);

		.logo {
			float: left;
			width: 130px;
			padding: 18px 0;

			a {
				display: block;

				img {
					display: block;
					width: 100%;
				}
			}
		}

		nav {
			float: right;
			@media screen and (max-width: $break-tablet) {
				display: none;
			}

			ul {
				margin: 0;
				padding: 0;
				list-style: none;

				li {
					display: inline-block;
					margin: 0;
					padding: 0;

					a {
						color: $grey;
						text-transform: uppercase;
						font-weight: $font-weight--bold;
						padding: 20px 30px;
						display: block;
						font-family: $font-family--secondary;

						&:hover {
							color: $primary-color;
						}

						&:last-child {
							padding-right: 0;
						}
					}
				}
			}

			&.open {
				display: block;
				float: none;
				clear: both;

				ul {
					li {
						display: block;

						a {
							text-align: center;
						}
					}
				}
			}
		}
	}

	.menu {
		float: right;
		display: none;
		
		@media screen and (max-width: $break-tablet) {
			display: block;
		}

		a {
			span {
				width: 60px;
				height: 60px;
				display: block;

				&:before  {
					content: "";
					position: absolute;
					right: 20px;
					top: 20px;
					width: 20px;
					height: 0.15em;
					background: $primary-color;
					box-shadow: 
					0 20px 0 0 $primary-color,
					0 10px 0 0 $primary-color;
				}
			}
		}
	}
}